### Questions

### Crap I USE
* VSCODE
* PYLINTER

### Some IDEs to consider
* VSCode
* Notepad ++
* PyCharm
* Sublime Text
* Atom

### Objectives
YWBAT 
* design classes to optimize tasks
* use jupyter to debug and test our class object as we build it
* implement reload to reload a file into memory
* build an ORM (Object relational mapping) as a class object

### Scenario
We have a db that we need to interact with on a daily basis. We need to perform the same tasks routinely and we, at times, also need to perform other tasks. These tasks involve reading into the db.

### Outline
* just get started with data

In [2]:
from importlib import reload # used to update my class file 

import numpy as np
import pandas as pd

import sqlite3

import myconn as mc

In [16]:
reload(mc)

### Assessment/What did we learn?

In [82]:
conn = sqlite3.connect("data.sqlite")

cursor = conn.cursor()

In [83]:
query = """
    SELECT 
        name
    FROM 
        sqlite_master 
    WHERE 
        type ='table';"""

cursor.execute(query).fetchall()

[('orderdetails',),
 ('payments',),
 ('offices',),
 ('customers',),
 ('orders',),
 ('productlines',),
 ('products',),
 ('employees',),
 ('contacts',),
 ('contacts2',)]

In [91]:
query = "select firstname, lastname, officecode from employees where officecode is '1'"

pd.read_sql(query, conn).head()

  firstName   lastName officeCode
0     Diane     Murphy          1
1      Mary  Patterson          1
2      Jeff   Firrelli          1
3   Anthony        Bow          1
4    Leslie   Jennings          1

### let's test our init method

In [10]:
my_conn = mc.MyConn()

Rafael is probably the best teacher ever...I'm almost positive

### Let's test our init method now that we've created a connection on our init

In [12]:
my_conn = mc.MyConn(filename="data.sqlite")

cursor has been created for data.sqlite

In [13]:
# let's get the _conn attribute and the cursor attribute

vars(my_conn)

{'_conn': <sqlite3.Connection at 0x1182ad030>,
 'cursor': <sqlite3.Cursor at 0x1192b7420>}

In [14]:
my_conn._conn

In [15]:
my_conn.cursor

### Let's create a method in our class object that will print out our tables

#### let's test that method

In [27]:
reload(mc)

In [28]:
my_conn = mc.MyConn(filename='data.sqlite')

cursor has been created for data.sqlite

In [29]:
my_conn.list_tables()

['orderdetails',
 'payments',
 'offices',
 'customers',
 'orders',
 'productlines',
 'products',
 'employees',
 'contacts',
 'contacts2']

In [30]:
my_conn.select_all_from_table(table_name='orders')

[('10100', '2003-01-06', '2003-01-13', '2003-01-10', 'Shipped', '', '363'),
 ('10101',
  '2003-01-09',
  '2003-01-18',
  '2003-01-11',
  'Shipped',
  'Check on availability.',
  '128'),
 ('10102', '2003-01-10', '2003-01-18', '2003-01-14', 'Shipped', '', '181'),
 ('10103', '2003-01-29', '2003-02-07', '2003-02-02', 'Shipped', '', '121'),
 ('10104', '2003-01-31', '2003-02-09', '2003-02-01', 'Shipped', '', '141'),
 ('10105', '2003-02-11', '2003-02-21', '2003-02-12', 'Shipped', '', '145'),
 ('10106', '2003-02-17', '2003-02-24', '2003-02-21', 'Shipped', '', '278'),
 ('10107',
  '2003-02-24',
  '2003-03-03',
  '2003-02-26',
  'Shipped',
  'Difficult to negotiate with customer. We need more marketing materials',
  '131'),
 ('10108', '2003-03-03', '2003-03-12', '2003-03-08', 'Shipped', '', '385'),
 ('10109',
  '2003-03-10',
  '2003-03-19',
  '2003-03-11',
  'Shipped',
  'Customer requested that FedEx Ground is used for this shipping',
  '486'),
 ('10110', '2003-03-18', '2003-03-24', '2003-03-20', 'Shipped', '', '187'),
 ('10111', '2003-03-25', '2003-03-31', '2003-03-30', 'Shipped', '', '129'),
 ('10112',
  '2003-03-24',
  '2003-04-03',
  '2003-03-29',
  'Shipped',
  'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment',
  '144'),
 ('10113', '2003-03-26', '2003-04-02', '2003-03-27', 'Shipped', '', '124'),
 ('10114', '2003-04-01', '2003-04-07', '2003-04-02', 'Shipped', '', '172'),
 ('10115', '2003-04-04', '2003-04-12', '2003-04-07', 'Shipped', '', '424'),
 ('10116', '2003-04-11', '2003-04-19', '2003-04-13', 'Shipped', '', '381'),
 ('10117', '2003-04-16', '2003-04-24', '2003-04-17', 'Shipped', '', '148'),
 ('10118',
  '2003-04-21',
  '2003-04-29',
  '2003-04-26',
  'Shipped',
  'Customer has worked with some of our vendors in the past and is aware of their MSRP',
  '216'),
 ('10119', '2003-04-28', '2003-05-05', '2003-05-02', 'Shipped', '', '382'),
 ('10120', '2003-04-29', '2003-05-08', '2003-05-01', 'Shipped', '', '114'),
 ('10121', '2003-05-07', '2003-05-13', '2003-05-13', 'Shipped', '', '353'),
 ('10122', '2003-05-08', '2003-05-16', '2003-05-13', 'Shipped', '', '350'),
 ('10123', '2003-05-20', '2003-05-29', '2003-05-22', 'Shipped', '', '103'),
 ('10124',
  '2003-05-21',
  '2003-05-29',
  '2003-05-25',
  'Shipped',
  'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch',
  '112'),
 ('10125', '2003-05-21', '2003-05-27', '2003-05-24', 'Shipped', '', '114'),
 ('10126', '2003-05-28', '2003-06-07', '2003-06-02', 'Shipped', '', '458'),
 ('10127',
  '2003-06-03',
  '2003-06-09',
  '2003-06-06',
  'Shipped',
  'Customer requested special shippment. The instructions were passed along to the warehouse',
  '151'),
 ('10128', '2003-06-06', '2003-06-12', '2003-06-11', 'Shipped', '', '141'),
 ('10129', '2003-06-12', '2003-06-18', '2003-06-14', 'Shipped', '', '324'),
 ('10130', '2003-06-16', '2003-06-24', '2003-06-21', 'Shipped', '', '198'),
 ('10131', '2003-06-16', '2003-06-25', '2003-06-21', 'Shipped', '', '447'),
 ('10132', '2003-06-25', '2003-07-01', '2003-06-28', 'Shipped', '', '323'),
 ('10133', '2003-06-27', '2003-07-04', '2003-07-03', 'Shipped', '', '141'),
 ('10134', '2003-07-01', '2003-07-10', '2003-07-05', 'Shipped', '', '250'),
 ('10135', '2003-07-02', '2003-07-12', '2003-07-03', 'Shipped', '', '124'),
 ('10136',
  '2003-07-04',
  '2003-07-14',
  '2003-07-06',
  'Shipped',
  'Customer is interested in buying more Ferrari models',
  '242'),
 ('10137', '2003-07-10', '2003-07-20', '2003-07-14', 'Shipped', '', '353'),
 ('10138', '2003-07-07', '2003-07-16', '2003-07-13', 'Shipped', '', '496'),
 ('10139', '2003-07-16', '2003-07-23', '2003-07-21', 'Shipped', '', '282'),
 ('10140', '2003-07-24', '2003-08-02', '2003-07-30', 'Shipped', '', '161'),
 ('10141', '2003-08-01', '2003-08-09', '2003-08-04', 'Shipped', '', '334'),
 ('10142', '2003-08-08', '2003-08-16', '2003-08-13', 'Shipped', '', '124'),
 ('10143',
  '2003-08-10',
  '2003-08-18',
  '2003-08-12',
  'Shipped',
  'Can we deliver the new Ford Mustang models by end-of-quarter?',
  '320'),
 ('10144', '2003-08-13', '2003-08-21', '2003-08-14', 'Shipped', '', '381'),
 ('10145', '2003-08-25', '2003-09-02', '2003-08-31', 'Shipped', '', '205'),
 ('10146', '2003-09-03', '2003-09-13', '2003-09-06', 'Shipped', '', '447'),
 ('10147', '2003-09-05', '2003-09-12', '2003-09-09', 'Shipped', '', '379'),
 ('10148',
  '2003-09-11',
  '2003-09-21',
  '2003-09-15',
  'Shipped',
  'They want to reevaluate their terms agreement with Finance.',
  '276'),
 ('10149', '2003-09-12', '2003-09-18', '2003-09-17', 'Shipped', '', '487'),
 ('10150',
  '2003-09-19',
  '2003-09-27',
  '2003-09-21',
  'Shipped',
  'They want to reevaluate their terms agreement with Finance.',
  '148'),
 ('10151', '2003-09-21', '2003-09-30', '2003-09-24', 'Shipped', '', '311'),
 ('10152', '2003-09-25', '2003-10-03', '2003-10-01', 'Shipped', '', '333'),
 ('10153', '2003-09-28', '2003-10-05', '2003-10-03', 'Shipped', '', '141'),
 ('10154', '2003-10-02', '2003-10-12', '2003-10-08', 'Shipped', '', '219'),
 ('10155', '2003-10-06', '2003-10-13', '2003-10-07', 'Shipped', '', '186'),
 ('10156', '2003-10-08', '2003-10-17', '2003-10-11', 'Shipped', '', '141'),
 ('10157', '2003-10-09', '2003-10-15', '2003-10-14', 'Shipped', '', '473'),
 ('10158', '2003-10-10', '2003-10-18', '2003-10-15', 'Shipped', '', '121'),
 ('10159', '2003-10-10', '2003-10-19', '2003-10-16', 'Shipped', '', '321'),
 ('10160', '2003-10-11', '2003-10-17', '2003-10-17', 'Shipped', '', '347'),
 ('10161', '2003-10-17', '2003-10-25', '2003-10-20', 'Shipped', '', '227'),
 ('10162', '2003-10-18', '2003-10-26', '2003-10-19', 'Shipped', '', '321'),
 ('10163', '2003-10-20', '2003-10-27', '2003-10-24', 'Shipped', '', '424'),
 ('10164',
  '2003-10-21',
  '2003-10-30',
  '2003-10-23',
  'Resolved',
  "This order was disputed, but resolved on 11/1/2003; Customer doesn't like the colors and precision of the models.",
  '452'),
 ('10165',
  '2003-10-22',
  '2003-10-31',
  '2003-12-26',
  'Shipped',
  "This order was on hold because customers's credit limit had been exceeded. Order will ship when payment is received",
  '148'),
 ('10166', '2003-10-21', '2003-10-30', '2003-10-27', 'Shipped', '', '462'),
 ('10167',
  '2003-10-23',
  '2003-10-30',
  '',
  'Cancelled',
  "Customer called to cancel. The warehouse was notified in time and the order didn't ship. They have a new VP of Sales and are shifting their sales model. Our VP of Sales should contact them.",
  '448'),
 ('10168', '2003-10-28', '2003-11-03', '2003-11-01', 'Shipped', '', '161'),
 ('10169', '2003-11-04', '2003-11-14', '2003-11-09', 'Shipped', '', '276'),
 ('10170', '2003-11-04', '2003-11-12', '2003-11-07', 'Shipped', '', '452'),
 ('10171', '2003-11-05', '2003-11-13', '2003-11-07', 'Shipped', '', '233'),
 ('10172', '2003-11-05', '2003-11-14', '2003-11-11', 'Shipped', '', '175'),
 ('10173',
  '2003-11-05',
  '2003-11-15',
  '2003-11-09',
  'Shipped',
  'Cautious optimism. We have happy customers here, if we can keep them well stocked.  I need all the information I can get on the planned shippments of Porches',
  '278'),
 ('10174', '2003-11-06', '2003-11-15', '2003-11-10', 'Shipped', '', '333'),
 ('10175', '2003-11-06', '2003-11-14', '2003-11-09', 'Shipped', '', '324'),
 ('10176', '2003-11-06', '2003-11-15', '2003-11-12', 'Shipped', '', '386'),
 ('10177', '2003-11-07', '2003-11-17', '2003-11-12', 'Shipped', '', '344'),
 ('10178',
  '2003-11-08',
  '2003-11-16',
  '2003-11-10',
  'Shipped',
  'Custom shipping instructions sent to warehouse',
  '242'),
 ('10179',
  '2003-11-11',
  '2003-11-17',
  '2003-11-13',
  'Cancelled',
  'Customer cancelled due to urgent budgeting issues. Must be cautious when dealing with them in the future. Since order shipped already we must discuss who would cover the shipping charges.',
  '496'),
 ('10180', '2003-11-11', '2003-11-19', '2003-11-14', 'Shipped', '', '171'),
 ('10181', '2003-11-12', '2003-11-19', '2003-11-15', 'Shipped', '', '167'),
 ('10182', '2003-11-12', '2003-11-21', '2003-11-18', 'Shipped', '', '124'),
 ('10183',
  '2003-11-13',
  '2003-11-22',
  '2003-11-15',
  'Shipped',
  'We need to keep in close contact with their Marketing VP. He is the decision maker for all their purchases.',
  '339'),
 ('10184', '2003-11-14', '2003-11-22', '2003-11-20', 'Shipped', '', '484'),
 ('10185', '2003-11-14', '2003-11-21', '2003-11-20', 'Shipped', '', '320'),
 ('10186',
  '2003-11-14',
  '2003-11-20',
  '2003-11-18',
  'Shipped',
  'They want to reevaluate their terms agreement with the VP of Sales',
  '489'),
 ('10187', '2003-11-15', '2003-11-24', '2003-11-16', 'Shipped', '', '211'),
 ('10188', '2003-11-18', '2003-11-26', '2003-11-24', 'Shipped', '', '167'),
 ('10189',
  '2003-11-18',
  '2003-11-25',
  '2003-11-24',
  'Shipped',
  'They want to reevaluate their terms agreement with Finance.',
  '205'),
 ('10190', '2003-11-19', '2003-11-29', '2003-11-20', 'Shipped', '', '141'),
 ('10191',
  '2003-11-20',
  '2003-11-30',
  '2003-11-24',
  'Shipped',
  'We must be cautions with this customer. Their VP of Sales resigned. Company may be heading down.',
  '259'),
 ('10192', '2003-11-20', '2003-11-29', '2003-11-25', 'Shipped', '', '363'),
 ('10193', '2003-11-21', '2003-11-28', '2003-11-27', 'Shipped', '', '471'),
 ('10194', '2003-11-25', '2003-12-02', '2003-11-26', 'Shipped', '', '146'),
 ('10195', '2003-11-25', '2003-12-01', '2003-11-28', 'Shipped', '', '319'),
 ('10196', '2003-11-26', '2003-12-03', '2003-12-01', 'Shipped', '', '455'),
 ('10197',
  '2003-11-26',
  '2003-12-02',
  '2003-12-01',
  'Shipped',
  'Customer inquired about remote controlled models and gold models.',
  '216'),
 ('10198', '2003-11-27', '2003-12-06', '2003-12-03', 'Shipped', '', '385'),
 ('10199', '2003-12-01', '2003-12-10', '2003-12-06', 'Shipped', '', '475'),
 ('10200', '2003-12-01', '2003-12-09', '2003-12-06', 'Shipped', '', '211'),
 ('10201', '2003-12-01', '2003-12-11', '2003-12-02', 'Shipped', '', '129'),
 ('10202', '2003-12-02', '2003-12-09', '2003-12-06', 'Shipped', '', '357'),
 ('10203', '2003-12-02', '2003-12-11', '2003-12-07', 'Shipped', '', '141'),
 ('10204', '2003-12-02', '2003-12-10', '2003-12-04', 'Shipped', '', '151'),
 ('10205',
  '2003-12-03',
  '2003-12-09',
  '2003-12-07',
  'Shipped',
  ' I need all the information I can get on our competitors.',
  '141'),
 ('10206',
  '2003-12-05',
  '2003-12-13',
  '2003-12-08',
  'Shipped',
  'Can we renegotiate this one?',
  '202'),
 ('10207',
  '2003-12-09',
  '2003-12-17',
  '2003-12-11',
  'Shipped',
  'Check on availability.',
  '495'),
 ('10208', '2004-01-02', '2004-01-11', '2004-01-04', 'Shipped', '', '146'),
 ('10209', '2004-01-09', '2004-01-15', '2004-01-12', 'Shipped', '', '347'),
 ('10210', '2004-01-12', '2004-01-22', '2004-01-20', 'Shipped', '', '177'),
 ('10211', '2004-01-15', '2004-01-25', '2004-01-18', 'Shipped', '', '406'),
 ('10212', '2004-01-16', '2004-01-24', '2004-01-18', 'Shipped', '', '141'),
 ('10213',
  '2004-01-22',
  '2004-01-28',
  '2004-01-27',
  'Shipped',
  'Difficult to negotiate with customer. We need more marketing materials',
  '489'),
 ('10214', '2004-01-26', '2004-02-04', '2004-01-29', 'Shipped', '', '458'),
 ('10215',
  '2004-01-29',
  '2004-02-08',
  '2004-02-01',
  'Shipped',
  'Customer requested that FedEx Ground is used for this shipping',
  '475'),
 ('10216', '2004-02-02', '2004-02-10', '2004-02-04', 'Shipped', '', '256'),
 ('10217', '2004-02-04', '2004-02-14', '2004-02-06', 'Shipped', '', '166'),
 ('10218',
  '2004-02-09',
  '2004-02-16',
  '2004-02-11',
  'Shipped',
  'Customer requested that ad materials (such as posters, pamphlets) be included in the shippment',
  '473'),
 ('10219', '2004-02-10', '2004-02-17', '2004-02-12', 'Shipped', '', '487'),
 ('10220', '2004-02-12', '2004-02-19', '2004-02-16', 'Shipped', '', '189'),
 ('10221', '2004-02-18', '2004-02-26', '2004-02-19', 'Shipped', '', '314'),
 ('10222', '2004-02-19', '2004-02-27', '2004-02-20', 'Shipped', '', '239'),
 ('10223', '2004-02-20', '2004-02-29', '2004-02-24', 'Shipped', '', '114'),
 ('10224',
  '2004-02-21',
  '2004-03-02',
  '2004-02-26',
  'Shipped',
  'Customer has worked with some of our vendors in the past and is aware of their MSRP',
  '171'),
 ('10225', '2004-02-22', '2004-03-01', '2004-02-24', 'Shipped', '', '298'),
 ('10226', '2004-02-26', '2004-03-06', '2004-03-02', 'Shipped', '', '239'),
 ('10227', '2004-03-02', '2004-03-12', '2004-03-08', 'Shipped', '', '146'),
 ('10228', '2004-03-10', '2004-03-18', '2004-03-13', 'Shipped', '', '173'),
 ('10229', '2004-03-11', '2004-03-20', '2004-03-12', 'Shipped', '', '124'),
 ('10230',
  '2004-03-15',
  '2004-03-24',
  '2004-03-20',
  'Shipped',
  'Customer very concerned about the exact color of the models. There is high risk that he may dispute the order because there is a slight color mismatch',
  '128'),
 ('10231', '2004-03-19', '2004-03-26', '2004-03-25', 'Shipped', '', '344'),
 ('10232', '2004-03-20', '2004-03-30', '2004-03-25', 'Shipped', '', '240'),
 ('10233',
  '2004-03-29',
  '2004-04-04',
  '2004-04-02',
  'Shipped',
  'Customer requested special shippment. The instructions were passed along to the warehouse',
  '328'),
 ('10234', '2004-03-30', '2004-04-05', '2004-04-02', 'Shipped', '', '412'),
 ('10235', '2004-04-02', '2004-04-12', '2004-04-06', 'Shipped', '', '260'),
 ('10236', '2004-04-03', '2004-04-11', '2004-04-08', 'Shipped', '', '486'),
 ('10237', '2004-04-05', '2004-04-12', '2004-04-10', 'Shipped', '', '181'),
 ('10238', '2004-04-09', '2004-04-16', '2004-04-10', 'Shipped', '', '145'),
 ('10239', '2004-04-12', '2004-04-21', '2004-04-17', 'Shipped', '', '311'),
 ('10240', '2004-04-13', '2004-04-20', '2004-04-20', 'Shipped', '', '177'),
 ('10241', '2004-04-13', '2004-04-20', '2004-04-19', 'Shipped', '', '209'),
 ('10242',
  '2004-04-20',
  '2004-04-28',
  '2004-04-25',
  'Shipped',
  'Customer is interested in buying more Ferrari models',
  '456'),
 ('10243', '2004-04-26', '2004-05-03', '2004-04-28', 'Shipped', '', '495'),
 ('10244', '2004-04-29', '2004-05-09', '2004-05-04', 'Shipped', '', '141'),
 ('10245', '2004-05-04', '2004-05-12', '2004-05-09', 'Shipped', '', '455'),
 ('10246', '2004-05-05', '2004-05-13', '2004-05-06', 'Shipped', '', '141'),
 ('10247', '2004-05-05', '2004-05-11', '2004-05-08', 'Shipped', '', '334'),
 ('10248',
  '2004-05-07',
  '2004-05-14',
  '',
  'Cancelled',
  'Order was mistakenly placed. The warehouse noticed the lack of documentation.',
  '131'),
 ('10249',
  '2004-05-08',
  '2004-05-17',
  '2004-05-11',
  'Shipped',
  'Can we deliver the new Ford Mustang models by end-of-quarter?',
  '173'),
 ('10250', '2004-05-11', '2004-05-19', '2004-05-15', 'Shipped', '', '450'),
 ('10251', '2004-05-18', '2004-05-24', '2004-05-24', 'Shipped', '', '328'),
 ('10252', '2004-05-26', '2004-06-04', '2004-05-29', 'Shipped', '', '406'),
 ('10253',
  '2004-06-01',
  '2004-06-09',
  '2004-06-02',
  'Cancelled',
  'Customer disputed the order and we agreed to cancel it. We must be more cautions with this customer going forward, since they are very hard to please. We must cover the shipping fees.',
  '201'),
 ('10254',
  '2004-06-03',
  '2004-06-13',
  '2004-06-04',
  'Shipped',
  'Customer requested that DHL is used for this shipping',
  '323'),
 ('10255', '2004-06-04', '2004-06-12', '2004-06-09', 'Shipped', '', '209'),
 ('10256', '2004-06-08', '2004-06-16', '2004-06-10', 'Shipped', '', '145'),
 ('10257', '2004-06-14', '2004-06-24', '2004-06-15', 'Shipped', '', '450'),
 ('10258', '2004-06-15', '2004-06-25', '2004-06-23', 'Shipped', '', '398'),
 ('10259', '2004-06-15', '2004-06-22', '2004-06-17', 'Shipped', '', '166'),
 ('10260',
  '2004-06-16',
  '2004-06-22',
  '',
  'Cancelled',
  'Customer heard complaints from their customers and called to cancel this order. Will notify the Sales Manager.',
  '357'),
 ('10261', '2004-06-17', '2004-06-25', '2004-06-22', 'Shipped', '', '233'),
 ('10262',
  '2004-06-24',
  '2004-07-01',
  '',
  'Cancelled',
  'This customer found a better offer from one of our competitors. Will call back to renegotiate.',
  '141'),
 ('10263', '2004-06-28', '2004-07-04', '2004-07-02', 'Shipped', '', '175'),
 ('10264',
  '2004-06-30',
  '2004-07-06',
  '2004-07-01',
  'Shipped',
  'Customer will send a truck to our local warehouse on 7/1/2004',
  '362'),
 ('10265', '2004-07-02', '2004-07-09', '2004-07-07', 'Shipped', '', '471'),
 ('10266', '2004-07-06', '2004-07-14', '2004-07-10', 'Shipped', '', '386'),
 ('10267', '2004-07-07', '2004-07-17', '2004-07-09', 'Shipped', '', '151'),
 ('10268', '2004-07-12', '2004-07-18', '2004-07-14', 'Shipped', '', '412'),
 ('10269', '2004-07-16', '2004-07-22', '2004-07-18', 'Shipped', '', '382'),
 ('10270',
  '2004-07-19',
  '2004-07-27',
  '2004-07-24',
  'Shipped',
  'Can we renegotiate this one?',
  '282'),
 ('10271', '2004-07-20', '2004-07-29', '2004-07-23', 'Shipped', '', '124'),
 ('10272', '2004-07-20', '2004-07-26', '2004-07-22', 'Shipped', '', '157'),
 ('10273', '2004-07-21', '2004-07-28', '2004-07-22', 'Shipped', '', '314'),
 ('10274', '2004-07-21', '2004-07-29', '2004-07-22', 'Shipped', '', '379'),
 ('10275', '2004-07-23', '2004-08-02', '2004-07-29', 'Shipped', '', '119'),
 ('10276', '2004-08-02', '2004-08-11', '2004-08-08', 'Shipped', '', '204'),
 ('10277', '2004-08-04', '2004-08-12', '2004-08-05', 'Shipped', '', '148'),
 ('10278', '2004-08-06', '2004-08-16', '2004-08-09', 'Shipped', '', '112'),
 ('10279',
  '2004-08-09',
  '2004-08-19',
  '2004-08-15',
  'Shipped',
  'Cautious optimism. We have happy customers here, if we can keep them well stocked.  I need all the information I can get on the planned shippments of Porches',
  '141'),
 ('10280', '2004-08-17', '2004-08-27', '2004-08-19', 'Shipped', '', '249'),
 ('10281', '2004-08-19', '2004-08-28', '2004-08-23', 'Shipped', '', '157'),
 ('10282', '2004-08-20', '2004-08-26', '2004-08-22', 'Shipped', '', '124'),
 ('10283', '2004-08-20', '2004-08-30', '2004-08-23', 'Shipped', '', '260'),
 ('10284',
  '2004-08-21',
  '2004-08-29',
  '2004-08-26',
  'Shipped',
  'Custom shipping instructions sent to warehouse',
  '299'),
 ('10285', '2004-08-27', '2004-09-04', '2004-08-31', 'Shipped', '', '286'),
 ('10286', '2004-08-28', '2004-09-06', '2004-09-01', 'Shipped', '', '172'),
 ('10287', '2004-08-30', '2004-09-06', '2004-09-01', 'Shipped', '', '298'),
 ('10288', '2004-09-01', '2004-09-11', '2004-09-05', 'Shipped', '', '166'),
 ('10289',
  '2004-09-03',
  '2004-09-13',
  '2004-09-04',
  'Shipped',
  'We need to keep in close contact with their Marketing VP. He is the decision maker for all their purchases.',
  '167'),
 ('10290', '2004-09-07', '2004-09-15', '2004-09-13', 'Shipped', '', '198'),
 ('10291', '2004-09-08', '2004-09-17', '2004-09-14', 'Shipped', '', '448'),
 ('10292',
  '2004-09-08',
  '2004-09-18',
  '2004-09-11',
  'Shipped',
  'They want to reevaluate their terms agreement with Finance.',
  '131'),
 ('10293', '2004-09-09', '2004-09-18', '2004-09-14', 'Shipped', '', '249'),
 ('10294', '2004-09-10', '2004-09-17', '2004-09-14', 'Shipped', '', '204'),
 ('10295',
  '2004-09-10',
  '2004-09-17',
  '2004-09-14',
  'Shipped',
  'They want to reevaluate their terms agreement with Finance.',
  '362'),
 ('10296', '2004-09-15', '2004-09-22', '2004-09-16', 'Shipped', '', '415'),
 ('10297',
  '2004-09-16',
  '2004-09-22',
  '2004-09-21',
  'Shipped',
  'We must be cautions with this customer. Their VP of Sales resigned. Company may be heading down.',
  '189'),
 ('10298', '2004-09-27', '2004-10-05', '2004-10-01', 'Shipped', '', '103'),
 ('10299', '2004-09-30', '2004-10-10', '2004-10-01', 'Shipped', '', '186'),
 ('10300', '2003-10-04', '2003-10-13', '2003-10-09', 'Shipped', '', '128'),
 ('10301', '2003-10-05', '2003-10-15', '2003-10-08', 'Shipped', '', '299'),
 ('10302', '2003-10-06', '2003-10-16', '2003-10-07', 'Shipped', '', '201'),
 ('10303',
  '2004-10-06',
  '2004-10-14',
  '2004-10-09',
  'Shipped',
  'Customer inquired about remote controlled models and gold models.',

### let's test our load_df parameter

In [44]:
reload(mc)

In [45]:
my_conn = mc.MyConn(filename='data.sqlite')

cursor has been created for data.sqlite

In [46]:
my_conn.list_tables()

['orderdetails',
 'payments',
 'offices',
 'customers',
 'orders',
 'productlines',
 'products',
 'employees',
 'contacts',
 'contacts2']

In [47]:
my_conn.select_all_from_table(table_name='products', load_df=True)

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00
...,...,...,...,...,...,...,...,...,...
105,S700_3505,The Titanic,Ships,1:700,Carousel DieCast Legends,"Completed model measures 19 1/2 inches long, 9...",1956,51.09,100.17
106,S700_3962,The Queen Mary,Ships,1:700,Welly Diecast Productions,Exact replica. Wood and Metal. Many extras inc...,5088,53.63,99.31
107,S700_4002,American Airlines: MD-11S,Planes,1:700,Second Gear Diecast,Polished finish. Exact replia with official lo...,8820,36.27,74.03
108,S72_1253,Boeing X-32A JSF,Planes,1:72,Motor City Art Classics,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
109,S72_3212,Pont Yacht,Ships,1:72,Unimax Art Galleries,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60

### Now we're going to modify our build_select_all_query with a decorator
Notice this function never uses 'self'

to fix this add the decorator '@staticmethod' above your function/method

### Let's check our static method

In [48]:
reload(mc)

In [49]:
my_conn = mc.MyConn(filename='data.sqlite')

cursor has been created for data.sqlite

In [50]:
my_conn.build_select_all_query(table_name='products')

'select * from products'

### Let's build a function to list the columns of a table?

In [92]:
reload(mc)

In [93]:
my_conn = mc.MyConn(filename='data.sqlite')

cursor has been created for data.sqlite

In [94]:
my_conn.list_table_columns(table_name='products')

[(0, 'productCode', '', 0, None, 0),
 (1, 'productName', '', 0, None, 0),
 (2, 'productLine', '', 0, None, 0),
 (3, 'productScale', '', 0, None, 0),
 (4, 'productVendor', '', 0, None, 0),
 (5, 'productDescription', '', 0, None, 0),
 (6, 'quantityInStock', '', 0, None, 0),
 (7, 'buyPrice', '', 0, None, 0),
 (8, 'MSRP', '', 0, None, 0)]

In [95]:
my_conn.close_connection()

--------------------------------------------------
----closing connection to db----
--------------------------------------------------

In [96]:
my_conn.list_table_columns(table_name='products')

ProgrammingError: Cannot operate on a closed database.

### Let's build a child class for our employees table

In [97]:
reload(mc)

In [98]:
emp_conn = mc.Employees(filename='data.sqlite')

cursor has been created for data.sqlite

In [99]:
vars(emp_conn)

{'_conn': <sqlite3.Connection at 0x119279c70>,
 'cursor': <sqlite3.Cursor at 0x1192be110>,
 'table_name': 'employees'}

In [100]:
emp_conn.build_select_all_query('orders')

'select * from orders'

In [101]:
emp_conn.list_table_columns('Employees')

[(0, 'employeeNumber', '', 0, None, 0),
 (1, 'lastName', '', 0, None, 0),
 (2, 'firstName', '', 0, None, 0),
 (3, 'extension', '', 0, None, 0),
 (4, 'email', '', 0, None, 0),
 (5, 'officeCode', '', 0, None, 0),
 (6, 'reportsTo', '', 0, None, 0),
 (7, 'jobTitle', '', 0, None, 0)]

In [102]:
emp_conn.select_all_from_table(table_name='employees', load_df=True)

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102,Sales Rep

In [103]:
emp_conn.select_employee_names_by_office_code(office_code="1")

[('Murphy', 'Diane', '1'),
 ('Patterson', 'Mary', '1'),
 ('Firrelli', 'Jeff', '1'),
 ('Bow', 'Anthony', '1'),
 ('Jennings', 'Leslie', '1'),
 ('Thompson', 'Leslie', '1')]

### What did we learn today? 
- the interaction between classes and sqlite3
- oop is very useful for making templates and objects to prevent repeated code
- oop allows us to use code more efficiently and handle data structures
- oop takes a lot of practice
- using decorators in python
- workflow